.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.3fr;
  grid-template-areas:
    "hdr hdr hdr hdr"
    "sdb main main main"
    "sdb cnt1 cnt2 cnt3"
    "sdb ftr ftr ftr";
}

.header {
  grid-area: hdr;
  background-color: #61dafb;
}

.sidebar {
  grid-area: sdb;
  background-color: aquamarine;
}

.main {
  grid-area: main;
  background-color: burlywood;
}

.content1 {
  grid-area: cnt1;
  background-color: cadetblue;
}

.content2 {
  grid-area: cnt2;
  background-color: cadetblue;
}

.content3 {
  grid-area: cnt3;
  background-color: cadetblue;
}

.footer {
  grid-area: ftr;
  background-color: cornflowerblue;
}

@media screen and (max-width: 500px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 0.4fr;
    grid-template-areas:
      "hdr"
      "sdb"
      "main"
      "cnt1"
      "cnt2"
      "cnt3"
      "ftr";
  }
}
